body {
	background-color: #192a56;
	color: #ffffff;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
}

#header-nav {
	background-color: #ffffff;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url('../images/logo-large.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #2ed573;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 30px;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p {
	color: #00b894;
	font-family: 'Jost', sans-serif;
	font-size: 1.2em;
	margin-top: 15px;
	margin-left: 60px;
}

#nav-list {
	margin-top: 0px;
	margin-right: 0px;
}

#nav-list a {
	font-family: 'Jost', sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	color: #cd6133;
	text-align: center;
	padding: 13px;
}

#nav-list a:hover,  #nav-list a:focus, #nav-list a:active {
	background-color: #ffffff;
}

#nav-list a:hover {
	border-bottom: 2px solid #cd6133;
	margin-top: -8px;
}

.navbar-header button {
	margin-right: 0px;
	margin-top: 25px;
}

.navbar-brand br {
	display: none;
}

#main-content {
	margin-top: 1%;
}

#featured-img-1, #featured-img-2, #featured-img-3, #featured-map, #explore-img, #contact-img {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position:relative;
	border: 2px solid #cd6133;
	overflow: hidden;
	border-radius: 5px;
	background-position: center;
}

#featured-img-1:hover, #featured-img-2:hover, #featured-img-3:hover, #featured-map:hover, #explore-img:hover, #contact-img:hover {
	box-shadow: 0 4px 20px 4px #000;
}

#featured-img-1 {
	background: url(../images/featured-1.jpg) no-repeat;
}

#featured-img-2 {
	background: url(../images/featured-2.jpg) no-repeat;
}

#featured-img-3 {
	background: url(../images/featured-3.jpg) no-repeat;
}

#featured-map {
	background: url(https://via.placeholder.com/633x250.jpg?text=Map) no-repeat;
}

#explore-img {
	background: url(../images/explore-img.jpg) no-repeat;
}

#contact-img {
	background: url(../images/contact-img.jpg) no-repeat;
}

#featured-img-1 span, #featured-img-2 span, #featured-img-3 span, #featured-map span, #explore-contact-img span, #explore-img span, #contact-img span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	font-family: 'Jost', serif;
	font-size: 1.1em;
	padding: 10px;
	text-align: center;
	background-color: #000;
	text-transform: uppercase;
	color: #fff;
	opacity: 0.8;
}

/*Footer*/
.panel-footer {
	background: #000;
	color: #cd6133;
}

#bottom-search-box {
	left-margin:10px;
	font-weight: bold;
	border: 4px solid #cd6133;
	border-radius: 30px;
	padding: 10px;
	margin: 30px;
	background-color: #000;
}

#bottom-search-box:focus {
	background-color: #fff;
}

#copyright {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	position: absolute;
	bottom: 80px;
	font-family: 'Jost';
}

#address-contact {
	position: relative;
	left: 60px;
	padding: 40px;
}



/*------------------------------*/
/*Media Queries and their Layout*/

/* Extra Small devices*/
@media (max-width: 380px) {
	.navbar-brand br {
		display: block;
	}
	.navbar-brand p {
		font-size: .7em;
		margin-top: 12px;
		margin-left: 5px;
		margin-bottom: 0px;
	}
	.navbar-brand h1 {
		font-size: 1em;
		margin-top: 0px;
		text-align: center;
		margin-left: 5px;
	}
	#logo-img {
		background: url('../images/logo-small.png') no-repeat;
		width: 55px;
		height: 55px;
		margin-top: 18px;
	}
	#featured-map {
		display: none;
	}
	#featured-img-1, #featured-img-2, #featured-img-3, #explore-img, #contact-img {
		width: 280px;
		margin: 0 auto 15px;
	}
}

/* Extra Small devices*/
@media (min-width: 381px) and (max-width: 575px) {
	.navbar-brand br {
		display: block;
	}
	.navbar-brand p {
		font-size: .7em;
		margin-top: 12px;
		margin-left: 5px;
		margin-bottom: 0px;
	}
	.navbar-brand h1 {
		font-size: 1em;
		margin-top: 0px;
		text-align: center;
		margin-left: 5px;
	}
	#logo-img {
		background: url('../images/logo-small.png') no-repeat;
		width: 55px;
		height: 55px;
		margin-top: 18px;
	}
	#featured-map {
		display: none;
	}
	#featured-img-1, #featured-img-2, #featured-img-3, #explore-img, #contact-img {
		margin: 0 auto 15px;
		width: 350px;
	}
	#explore-img, #contact-img {
		height: 125px;
	}
}

/* Small devices  */
@media (min-width: 576px) and (max-width: 767px){
	.navbar-brand {
		padding: 10px;
		height: 80px;
	}
	.navbar-brand h1 {
		font-size: 1em;
		margin-top: 15px;
		text-align: center;
		margin-left: 21px;
	}
	.navbar-brand p {
		font-size: 0.8em;
		margin-top: 12px;
		margin-left: 80px;
	}
	#nav-list {
		font-size: .9em;
	}
	#logo-img {
		background: url('../images/logo-medium.png') no-repeat;
		width: 100px;
		height: 100px;
		margin: 1px 1px 1px 0;
	}
	.jumbotron {
		background: url("../images/jumbotron-576.jpg") no-repeat;
		height: 216px;
		box-shadow: 0 0 50px #000;
		border: 2px solid #cd6133;
	}
	.jumbotron .img-fluid {
		display: none;
	}
	.jumbotron {
		margin-top: 30px;
		padding: 0;
	}
	#feature-map {
		display: none;
	}
	#explore-img, #contact-img {
		height: 125px;
	}
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-brand {
		padding: 10px;
		height: 80px;
	}
	.navbar-brand h1 {
		font-size: 1.5em;
		margin-top: 0px;
		text-align: center;
		margin-left: 5px;
	}
	.navbar-brand p {
		font-size: .9em;
		margin-top: 12px;
	}
	#nav-list {
		font-size: 1em;
	}
	#logo-img {
		background: url('../images/logo-medium.png') no-repeat;
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0;
	}

	.jumbotron {
		background: url("../images/jumbotron-768.jpg") no-repeat;
		height: 288px;
		box-shadow: 0 0 50px #000;
		border: 2px solid #cd6133;
	}
	.jumbotron .img-fluid {
		display: none;
	}
}

/* Large devices */
@media (min-width: 992px) and (max-width: 1199px) {
	#logo-img {
		background: url('../images/logo-large.png') no-repeat;
		width: 150px;
		height: 150px;
		margin: 10px 15px 15px 0;
	}

	.jumbotron {
		background: url("../images/jumbotron-992.jpg") no-repeat;
		height: 304px;
		box-shadow: 0 0 50px #000;
		border: 2px solid #cd6133;
	}
	.jumbotron .img-fluid {
		display: none;
	}
}

/* Extra large devices */
@media (min-width: 1200px) {
	.jumbotron {
		background: url("../images/jumbotron-1200.jpg") no-repeat;
		height: 369px;
		box-shadow: 0 0 50px #000;
		border: 2px solid #cd6133;
	}
	.jumbotron .img-fluid {
		display: none;
	}
}
